.container{
    padding-top: 10px;
}
.title{
    color: coral;
    padding-top: 30px;
}
.about-section{
    color:darkblue;
}
.about-img{
    padding-top: 30px;
}
.about-img{
    width: 400px;
    height: 300px;
}