.banner-container{
    background-image: url("https://images.unsplash.com/photo-1571019614242-c5c5dee9f50b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 780px;
  width: 100%;
  /* border: 1px solid red; */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title{
    color:blue;
}
.input-level{
    width:50%;
    text-align: center;
    margin-left: 300px;
    
}